.homeContainer{
    background-image: url('../Images/Home.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20px;
    align-items: center;
    height: 100vh;
}
.quote{
    font-size: 1.5rem;
    color: white;
    font-style: italic;
}
.quoteContainer,
.hoursContainer{
    background-color: rgba(180,180,180, 0.8);
    border-radius: 20px;
    padding: 10px;
}