.cartContainer {
  height: 100vh;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
ul {
  list-style-type: none;
}
table {
  background-color: rgb(234, 234, 234);
  width: 80%;
}
table, th, td {
  border: 5px solid white;
  border-collapse: collapse;
}
td,
th {
  width: 500px;
  border: 1px solid black;
}
th {
  text-align: center;
}
.cartDiv {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 65vw;
  border-radius: 15px;
}
.tableDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.heading {
  text-align: center;
  background-color: black;
  color: white;
}
h2 {
  margin-bottom: 0;
  font-size: 3vw;
}
.totalDiv {
  display: flex;
  gap: 10px;
}
.customerForm {
  display: flex;
  align-items: center;
  gap: 10px
}
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}
label, .total{
  color: white
}
