.cartContainer{
    background-image: url('../Images/Home.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
table{
    background-color: lightgrey;
    width:80%;
}
td,
th{
    width:500px;
    border: 1px solid black
}
th{
    text-align: center;
}
.cartDiv{
    display: flex;
    justify-content: center;
    background-color: lightcyan;
    height: 75vh;
    width: 65vw;
    border-radius: 15px;
}
.tableDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}
.heading{
    text-align: center;
    background-color: black;
    color: white;
}
h2{
    margin-bottom: 0;
    font-size: 3vw;
}
.totalDiv{
    display: flex;
    gap: 10px;
}
.customerForm{
    display:flex;
    flex-direction: column
}